In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("F:\\REGex\\AI\\IMDB Dataset.csv")

In [3]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [4]:
df['review']

0        One of the other reviewers has mentioned that ...
1        A wonderful little production. <br /><br />The...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

# remove html Tags

In [5]:
import re
def remove_html_tags(text):
    pattern=re.compile('<,*?>')
    return pattern.sub(r'',text)

In [6]:
text="<html><body><p> movie </p><p> click here to <a href = 'https://google.com'>download</a></p>"

In [7]:
remove_html_tags(text)

"<html><body><p> movie </p><p> click here to <a href = 'https://google.com'>download</a></p>"

In [8]:
df['review']=df['review'].apply(remove_html_tags)

In [9]:
def remove_html_tags(text):
    pattern=re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',text)

In [10]:
text1 = 'Check out my notebook https://www.deture.com/delta/note1234acc'

text2 = 'Check out my notebook https://www.deture.com/delta/note1234acc'

text3 = 'Google search here www.google.com'

text4 = 'For notebook click https://www.deture.com/delta/note1234acc'

In [11]:
remove_html_tags(text1)

'Check out my notebook '

# Remove Punctuation

In [12]:
import string
import time

In [13]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [14]:
exclude=string.punctuation

In [15]:
def remove_punc(text):
    for char in exclude:
        text=text.replace(char,'')
    return text

In [16]:
text='string with punctuation?'

In [17]:
start = time.time()
print(remove_punc(text))
time1=time.time()-start
print(time1)

string with punctuation
0.0

In [18]:
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

In [19]:
start = time.time()
print(remove_punc1(text))
time2=time.time()-start
print(time2)

string with punctuation
0.0

In [20]:
df=pd.read_csv("F:\\REGex\\AI\\twitter_sentiment_analysis.csv")

In [21]:
df

          id                                              tweet
0      31963  #studiolife #aislife #requires #passion #dedic...
1      31964   @user #white #supremacists want everyone to s...
2      31965  safe ways to heal your #acne!!    #altwaystohe...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd #bihday to my amazing, hilarious #nephew...
...      ...                                                ...
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid ð #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

[17197 rows x 2 columns]

In [22]:
import string
exclude=string.punctuation

In [23]:
def remove_punc(text):
    return text.translate(str.maketrans('','',exclude))

In [24]:
df['tweet']= df['tweet'].apply(remove_punc1)

In [25]:
df

          id                                              tweet
0      31963  studiolife aislife requires passion dedication...
1      31964   user white supremacists want everyone to see ...
2      31965  safe ways to heal your acne    altwaystoheal h...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd bihday to my amazing hilarious nephew el...
...      ...                                                ...
17192  49155  thought factory leftright polarisation trump u...
17193  49156  feeling like a mermaid ð hairflip neverread...
17194  49157  hillary campaigned today in ohioomg amp used w...
17195  49158  happy at work conference right mindset leads t...
17196  49159  my   song so glad free download  shoegaze newm...

[17197 rows x 2 columns]

# Chat Word Treatment

In [26]:
chat_words = {'u2':'you too','BBL':'Be Back Later','GAL':'Get a Life'}

In [27]:
chat_words

{'u2': 'you too', 'BBL': 'Be Back Later', 'GAL': 'Get a Life'}

In [28]:
def chat_conversion(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
            
    return "".join(new_text)

In [29]:
chat_conversion('GAL')

'Get a Life'

In [30]:
chat_conversion('BBL')

'Be Back Later'

In [31]:
chat_conversion('GAL')

'Get a Life'

# Spelling Correction

In [32]:
!pip install TextBlob

Requirement already satisfied: TextBlob in c:\users\hp\anaconda2\envs\tensorflow\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\hp\anaconda2\envs\tensorflow\lib\site-packages (from TextBlob) (3.8.1)
Requirement already satisfied: click in c:\users\hp\anaconda2\envs\tensorflow\lib\site-packages (from nltk>=3.1->TextBlob) (8.0.4)
Requirement already satisfied: joblib in c:\users\hp\anaconda2\envs\tensorflow\lib\site-packages (from nltk>=3.1->TextBlob) (1.3.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\hp\anaconda2\envs\tensorflow\lib\site-packages (from nltk>=3.1->TextBlob) (2023.6.3)
Requirement already satisfied: tqdm in c:\users\hp\anaconda2\envs\tensorflow\lib\site-packages (from nltk>=3.1->TextBlob) (4.65.0)
Requirement already satisfied: colorama in c:\users\hp\anaconda2\envs\tensorflow\lib\site-packages (from click->nltk>=3.1->TextBlob) (0.4.6)

In [33]:
from textblob import TextBlob

In [34]:
incorrect_text ='ccertain conditions several ggeneration are modified in the ssame  mannnerr'

textBlb=TextBlob(incorrect_text)

textBlb.correct().string

'certain conditions several generation are modified in the same  manner'

# Removing Stop Words

In [35]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Error loading stopwords: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

In [36]:
STOPWORDS=set(stopwords.words('english'))

In [37]:
STOPWORDS

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [38]:
#  manually work

def remove_stopwords(text):
    new_text=[]
    
    for word in text.split():
        
        if word in set(stopwords.words('english')):
            new_text.append(word)
            
        else:
            new_text.append(word)
            
    x=new_text[:]
    new_text.clear()
    return "".join(x)

In [39]:
remove_stopwords("probably my all time favourite movie, a story of selflessness and dedications tpo a noble")

'probablymyalltimefavouritemovie,astoryofselflessnessanddedicationstpoanoble'

# Handling Emojis

In [40]:
import re
def remove_emoji(text):
    emoji_pattern =re.compile('['
                               u"\U0001F600-\U0001F64F"   #emotions
                               u"\U0001F300-\U0001F5FF"   #symbols & pictographs 
                               u"\U0001F680-\U0001F6FF"   #transport & map symbols 
                               u"\U0001F1E0-\U0001F1FF"   # flags(ioS) 
                               u"/U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               "] +" , flags = re.UNICODE)
    return emoji_pattern.sub(r'' , text)

In [41]:
!pip install emoji

Requirement already satisfied: emoji in c:\users\hp\anaconda2\envs\tensorflow\lib\site-packages (2.6.0)

In [42]:
import emoji
print(emoji.demojize('Python is 😘,😍,🥰,🧡'))

Python is :face_blowing_a_kiss:,:smiling_face_with_heart-eyes:,:smiling_face_with_hearts:,:orange_heart:

# Tokenization

<!-- 1. word tokenization -->

In [43]:
# word tokenization
sent1= "I am Going to Delhi"
sent1.split()

['I', 'am', 'Going', 'to', 'Delhi']

In [44]:
sent2='I am going to Delhi. I will stay there for 3 days.'
sent2.split(',')

['I am going to Delhi. I will stay there for 3 days.']

In [45]:
sent3 = 'I am going to delhi!'
sent3.split()

['I', 'am', 'going', 'to', 'delhi!']

In [46]:
import re

sent3 = 'I am going to delhi'
tokens = re.findall('[\w]+',sent3)
sent3

'I am going to delhi'

In [47]:
tokens

['I', 'am', 'going', 'to', 'delhi']

# NLTK

In [48]:
from nltk.tokenize import word_tokenize, sent_tokenize

In [49]:
import nltk
nltk.download('punkt')

[nltk_data] Error loading punkt: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

False

In [50]:
sent1="I am going to visit delhi!"
word_tokenize(sent1)

['I', 'am', 'going', 'to', 'visit', 'delhi', '!']

In [51]:
sent2='I Have a Ph. D. in A.I.'
sent3= "We 're here to help! mail us at nks@gmail.com"
sent4= 'A 5 km '

In [52]:
word_tokenize(sent2)

['I', 'Have', 'a', 'Ph', '.', 'D.', 'in', 'A.I', '.']

In [53]:
word_tokenize(sent3)

['We',
 "'re",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'nks',
 '@',
 'gmail.com']

In [54]:
word_tokenize(sent4)

['A', '5', 'km']

# Stemming

In [55]:
from nltk.stem.porter import PorterStemmer

In [56]:
ps=PorterStemmer()
def stem_words(text):
    return" ".join([ps.stem(word) for word in text.split()])

In [57]:
sample = "Walk Walks Walking Walked"
stem_words(sample)

'walk walk walk walk'

In [58]:
text='probably my all time favourite movie a story'
print(text)

probably my all time favourite movie a story

In [59]:
stem_words(text)

'probabl my all time favourit movi a stori'

In [60]:
from nltk.stem import WordNetLemmatizer

In [61]:
import nltk
nltk.download("wordnet")

[nltk_data] Error loading wordnet: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

False

In [62]:
wordnet_lemmatizer= WordNetLemmatizer()

In [63]:
sentence="He was running and eating at the same time"
# punctuation= '?:,;'
sentence_words = nltk.word_tokenize(sentence)

for word in sentence_words:
    sentence_words.remove(word)

In [64]:
print(sentence_words)

['was', 'and', 'at', 'same']