In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("F:\\REGex\\Deep Learning\\Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
df['Balance']=df['Balance'].astype(int)

In [6]:
df['EstimatedSalary']=df['EstimatedSalary'].astype(int)

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()

In [9]:
df['Geography']=le.fit_transform(df['Geography'])

In [10]:
df['Gender']=le.fit_transform(df['Gender'])

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x=df.drop(columns=['Surname','Exited'])

In [13]:
y=df['Exited']

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [17]:
x.shape,x_train.shape,x_test.shape

((10000, 12), (8000, 12), (2000, 12))

In [18]:
y.shape,y_train.shape,y_test.shape

((10000,), (8000,), (2000,))

In [19]:
import tensorflow as tf

In [20]:
from tensorflow import keras

In [21]:
from keras import Sequential

In [22]:
from keras.layers import Dense

In [23]:
model=Sequential()

model.add(Dense(64, activation='relu', input_shape=(x_train.shape[1],)))

model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))

model.add(Dense(1, activation='sigmoid'))

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 128)               8320

 dense_2 (Dense)             (None, 64)                8256

 dense_3 (Dense)             (None, 1)                 65

=================================================================
Total params: 17,473
Trainable params: 17,473
Non-trainable params: 0
_________________________________________________________________

In [24]:
model.compile(optimizer='adam',metrics='accuracy',loss='mae')

In [25]:
model.fit(x_train,y_train,epochs=5,batch_size=22)

Epoch 1/5
364/364 [==============================] - 3s 5ms/step - loss: 0.2055 - accuracy: 0.7945
Epoch 2/5
364/364 [==============================] - 2s 5ms/step - loss: 0.2055 - accuracy: 0.7945
Epoch 3/5
364/364 [==============================] - 2s 5ms/step - loss: 0.2055 - accuracy: 0.7945
Epoch 4/5
364/364 [==============================] - 2s 5ms/step - loss: 0.2055 - accuracy: 0.7945
Epoch 5/5
364/364 [==============================] - 2s 5ms/step - loss: 0.2055 - accuracy: 0.7945

In [26]:
y_pred=model.predict(x_test)

63/63 [==============================] - 0s 4ms/step

In [27]:
test_loss,test_accuracy=model.evaluate(x_test,y_test)

63/63 [==============================] - 1s 4ms/step - loss: 0.1965 - accuracy: 0.8035

In [31]:
test_loss*100

19.65000033378601

In [30]:
test_accuracy*100

80.34999966621399