In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
data= pd.read_csv("F:\\REGex\\Deep Learning\\Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le=LabelEncoder()

In [6]:
data['Surname']=le.fit_transform(data['Surname'])
data['Geography']=le.fit_transform(data['Geography'])
data['Gender']=le.fit_transform(data['Gender'])
# data['Surname']=le.fit_transform(df['Surname'])

In [7]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,1115,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,1177,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,2040,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,289,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,1822,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,1999,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,1336,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,1570,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,2345,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,2751,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [8]:
x=data.drop(columns="Exited")

In [9]:
y=data["Exited"]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [12]:
x.shape

(10000, 13)

In [13]:
x_train.shape,x_test.shape

((8000, 13), (2000, 13))

In [14]:
y.shape

(10000,)

In [15]:
y_train.shape,y_test.shape

((8000,), (2000,))

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
sc=StandardScaler()

In [18]:
x_train=sc.fit_transform(x_train)

In [19]:
x_test=sc.transform(x_test)

In [20]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,1115,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,1177,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,2040,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,289,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,1822,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,1999,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,1336,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,1570,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,2345,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,2751,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [21]:
model=tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu',input_dim=x_train.shape[1]),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [22]:
opt=tf.keras.optimizers.SGD(learning_rate=0.01,momentum=0.9)

In [23]:
model.compile(optimizer=opt,loss="BinaryCrossentropy",metrics=['accuracy'])

In [24]:
model.fit(x_train,y_train,batch_size=32,epochs=15)

Epoch 1/15
250/250 [==============================] - 7s 20ms/step - loss: 0.4601 - accuracy: 0.8019
Epoch 2/15
250/250 [==============================] - 2s 8ms/step - loss: 0.3934 - accuracy: 0.8385
Epoch 3/15
250/250 [==============================] - 2s 8ms/step - loss: 0.3613 - accuracy: 0.8506
Epoch 4/15
250/250 [==============================] - 2s 7ms/step - loss: 0.3491 - accuracy: 0.8584
Epoch 5/15
250/250 [==============================] - 2s 7ms/step - loss: 0.3387 - accuracy: 0.8575
Epoch 6/15
250/250 [==============================] - 2s 7ms/step - loss: 0.3367 - accuracy: 0.8595
Epoch 7/15
250/250 [==============================] - 2s 7ms/step - loss: 0.3315 - accuracy: 0.8625
Epoch 8/15
250/250 [==============================] - 2s 8ms/step - loss: 0.3274 - accuracy: 0.8626
Epoch 9/15
250/250 [==============================] - 2s 7ms/step - loss: 0.3239 - accuracy: 0.8640
Epoch 10/15
250/250 [==============================] - 2s 7ms/step - loss: 0.3196 - accuracy: 0.8705
Epoch 11/15
250/250 [==============================] - 2s 8ms/step - loss: 0.3172 - accuracy: 0.8677
Epoch 12/15
250/250 [==============================] - 2s 8ms/step - loss: 0.3150 - accuracy: 0.8646
Epoch 13/15
250/250 [==============================] - 2s 8ms/step - loss: 0.3084 - accuracy: 0.8729
Epoch 14/15
250/250 [==============================] - 3s 13ms/step - loss: 0.3070 - accuracy: 0.8754
Epoch 15/15
250/250 [==============================] - 2s 7ms/step - loss: 0.3037 - accuracy: 0.8752

In [25]:
test_loss,test_accuracy=model.evaluate(x_test,y_test)

63/63 [==============================] - 1s 7ms/step - loss: 0.3539 - accuracy: 0.8490

In [26]:
print(test_loss)
print(test_accuracy)

0.3538932502269745
0.8489999771118164

# AdaGrad

In [28]:
opt=tf.keras.optimizers.Adagrad(learning_rate=0.01)

In [29]:
model.compile(optimizer=opt,loss="BinaryCrossentropy",metrics=['accuracy'])

In [30]:
model.fit(x_train,y_train,batch_size=32,epochs=15)

Epoch 1/15
250/250 [==============================] - 4s 7ms/step - loss: 0.2859 - accuracy: 0.8826
Epoch 2/15
250/250 [==============================] - 2s 7ms/step - loss: 0.2810 - accuracy: 0.8864
Epoch 3/15
250/250 [==============================] - 2s 7ms/step - loss: 0.2785 - accuracy: 0.8848
Epoch 4/15
250/250 [==============================] - 2s 7ms/step - loss: 0.2756 - accuracy: 0.8875
Epoch 5/15
250/250 [==============================] - 2s 7ms/step - loss: 0.2740 - accuracy: 0.8871
Epoch 6/15
250/250 [==============================] - 2s 7ms/step - loss: 0.2724 - accuracy: 0.8870
Epoch 7/15
250/250 [==============================] - 2s 9ms/step - loss: 0.2707 - accuracy: 0.8886
Epoch 8/15
250/250 [==============================] - 2s 8ms/step - loss: 0.2690 - accuracy: 0.8906
Epoch 9/15
250/250 [==============================] - 2s 7ms/step - loss: 0.2680 - accuracy: 0.8892
Epoch 10/15
250/250 [==============================] - 2s 7ms/step - loss: 0.2665 - accuracy: 0.8903
Epoch 11/15
250/250 [==============================] - 2s 7ms/step - loss: 0.2648 - accuracy: 0.8917
Epoch 12/15
250/250 [==============================] - 2s 8ms/step - loss: 0.2637 - accuracy: 0.8911
Epoch 13/15
250/250 [==============================] - 2s 7ms/step - loss: 0.2624 - accuracy: 0.8929
Epoch 14/15
250/250 [==============================] - 2s 7ms/step - loss: 0.2609 - accuracy: 0.8931
Epoch 15/15
250/250 [==============================] - 2s 7ms/step - loss: 0.2601 - accuracy: 0.8931

In [31]:
test_loss,test_accuracy=model.evaluate(x_test,y_test)

63/63 [==============================] - 1s 7ms/step - loss: 0.3627 - accuracy: 0.8555

In [32]:
print(test_loss)
print(test_accuracy)

0.3627256751060486
0.8554999828338623